<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cell</key>
	<array>
		<dict>
			<key>title</key>
			<string>新的朋友</string>
			<key>image</key>
			<string>newfriend</string>
		</dict>
		<dict>
			<key>title</key>
			<string>群聊</string>
			<key>image</key>
			<string>groupchat</string>
		</dict>
		<dict>
			<key>title</key>
			<string>标签</string>
			<key>image</key>
			<string>tag</string>
		</dict>
		<dict>
			<key>title</key>
			<string>公众号</string>
			<key>image</key>
			<string>public</string>
		</dict>
		<dict>
			<key>title</key>
			<string>企业微信联系人</string>
			<key>image</key>
			<string>qiyeweixinlianxiren</string>
		</dict>
	</array>
	<key>A</key>
	<array>
		<dict>
			<key>title</key>
			<string>阿虾</string>
			<key>image</key>
			<string>image00</string>
		</dict>
		<dict>
			<key>title</key>
			<string>a1老师</string>
			<key>image</key>
			<string>imagea1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>a2老师</string>
			<key>image</key>
			<string>imagea2</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>title</key>
			<string>b1老师</string>
			<key>image</key>
			<string>imageb1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>b2老师</string>
			<key>image</key>
			<string>imageb2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>b3老师</string>
			<key>image</key>
			<string>imageb3</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>title</key>
			<string>c1老师</string>
			<key>image</key>
			<string>imagec1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>c2老师</string>
			<key>image</key>
			<string>imagec2</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>title</key>
			<string>d1老师</string>
			<key>image</key>
			<string>imaged1</string>
		</dict>
	</array>
	<key>E</key>
	<array>
		<dict>
			<key>title</key>
			<string>e1老师</string>
			<key>image</key>
			<string>imagee1</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>title</key>
			<string>f1老师</string>
			<key>image</key>
			<string>imagef1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>f2老师</string>
			<key>image</key>
			<string>imagef2</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>title</key>
			<string>g1老师</string>
			<key>image</key>
			<string>image00</string>
		</dict>
	</array>
</dict>
</plist>
