<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cell</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>icon1</string>
			<key>name</key>
			<string>潜光📹</string>
			<key>msgContent</key>
			<string>同样是选秀出身的陈语嫣，没成功出道就踏踏实实去迪士尼上班，看她跳舞真的超治愈，每一个努力的女孩都值得被尊重。</string>
			<key>picNamdsArray</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>iconName</key>
			<string>icon2</string>
			<key>name</key>
			<string>周周</string>
			<key>msgContent</key>
			<string>看了排舞初演和好多cut，不管是哪个小演员演，在任何一幕里，我的眼睛都没法从西谷身上移开[悲伤]我的闪闪发光的宝，永远在后面守护大家[泪][泪]小小的身躯存在感却是极大的!![悲伤][悲伤]可是西谷的切片好少啊啊啊可恶[酸]</string>
			<key>picNamdsArray</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>iconName</key>
			<string>icon3</string>
			<key>name</key>
			<string>今天真的早睡</string>
			<key>msgContent</key>
			<string>#盖里奇执导大力士真人电影#迪士尼再就业，继《阿拉丁》之后，盖里·奇如今又确定执导迪士尼知名动画《大力士》的真人电影。</string>
			<key>picNamdsArray</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>iconName</key>
			<string>icon4</string>
			<key>name</key>
			<string>CAPASS</string>
			<key>msgContent</key>
			<string>小时候是怕狗勾怕骑单车怕吃青椒的小哭包，读书后活力满满到有点吵闹，但是专注起来却意外的安静，大大咧咧但格外注重细节（如图  摘月岛眼镜但是没有摸镜片</string>
			<key>picNamdsArray</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>iconName</key>
			<string>icon5</string>
			<key>name</key>
			<string>小羊不是羊</string>
			<key>msgContent</key>
			<string>侏罗纪3真给我滚了，他妈的女主跑得比恐龙还快，速度直逼120迈皮卡，有这速度去给我代替韵达送快递 </string>
			<key>picNamdsArray</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>iconName</key>
			<string>icon6</string>
			<key>name</key>
			<string>ferooo</string>
			<key>msgContent</key>
			<string>任何人没看到这篇我都会伤心的OK？</string>
			<key>picNamdsArray</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>iconName</key>
			<string>icon3</string>
			<key>name</key>
			<string>今天真的早睡</string>
			<key>msgContent</key>
			<string>全世界最会唱歌的鳄鱼被搬上大银幕了！一起来看#鳄鱼莱莱首支预告片#～普利姆一家搬来纽约新家，却发现阁楼室友是一只名叫莱莱的鳄鱼。莱莱不仅能像人类一样生活，还自带音乐buff，拥有极具感染力的歌喉，但这似乎并不能消除有人对此的天然排斥......</string>
			<key>picNamdsArray</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>iconName</key>
			<string>icon5</string>
			<key>name</key>
			<string>小羊不是羊</string>
			<key>msgContent</key>
			<string>@阿大-哒达打大：虽然大部分是约稿，但是也用心做成了制品[抱一抱]所以24h主催和美工实至名归，剩下的是钞能力[并不简单]还是希望有更多人能看到我的好大儿[爱你][爱你][爱你]</string>
			<key>picNamdsArray</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>iconName</key>
			<string>icon1</string>
			<key>name</key>
			<string>潜光📹</string>
			<key>msgContent</key>
			<string>以及，每部的大千秋后的乌野感想都有整理成文章的形式发布，感兴趣可以去看文章合集。都是借助软件的翻译结果，仅供参考(尤其这次他们说了很多感性的话，用软件很难看懂哈哈哈)。</string>
			<key>picNamdsArray</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>iconName</key>
			<string>icon2</string>
			<key>name</key>
			<string>周周</string>
			<key>msgContent</key>
			<string>“内心脆弱的我，多次自问自答，我可以演影山飞雄吗？好几次都气馁了。作品重叠，我无知和黑暗的部分也会被大量暴露，今后还能继续做演员吗？我非常烦恼。”</string>
			<key>picNamdsArray</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>iconName</key>
			<string>icon5</string>
			<key>name</key>
			<string>小羊不是羊</string>
			<key>msgContent</key>
			<string>所谓演员，我认为根本上是一项个人的工作，是关于如何演绎怎样的角色，在每部作品中与人、角色相遇、分离，如此不断重复的工作。但这次是我第一次加入剧团，感觉到‘有个能回去的地方真好啊。’。</string>
			<key>picNamdsArray</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>iconName</key>
			<string>icon4</string>
			<key>name</key>
			<string>CAPASS</string>
			<key>msgContent</key>
			<string>全体成员一起演戏的机会可能已经没有了，拼命地维系起一球的机会可能也没有了。
但是，我会把能成为这个团队的一员的事当作自己人生的财富。能出演演剧ハイキュー‼︎，作为菅原孝支而活着的这段时间，是我的骄傲。所以我想抬头挺胸笑着毕业！</string>
			<key>picNamdsArray</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>iconName</key>
			<string>icon1</string>
			<key>name</key>
			<string>潜光📹</string>
			<key>msgContent</key>
			<string>自从ハイキュー‼︎在《周刊少年JUMP》上连载以来，我一直是原作的粉丝，因为姓氏相同，所以非常在意影山飞雄。他的笨拙，对排球的态度，和日向的关系，以及他作为人的成长，都深深地吸引着我，他成为了我最喜欢的角色。</string>
			<key>picNamdsArray</key>
			<array>
				<string></string>
			</array>
		</dict>
	</array>
</dict>
</plist>
