<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cell</key>
	<array>
		<dict>
			<key>title</key>
			<string>幸福快乐一家人</string>
			<key>image</key>
			<string>image0</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>何老师</string>
			<key>image</key>
			<string>image1</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>赵老师</string>
			<key>image</key>
			<string>image2</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>王老师</string>
			<key>image</key>
			<string>image3</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>李老师</string>
			<key>image</key>
			<string>image4</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>陈老师</string>
			<key>image</key>
			<string>image5</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>梁老师</string>
			<key>image</key>
			<string>image6</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>刘老师</string>
			<key>image</key>
			<string>image7</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>毛老师</string>
			<key>image</key>
			<string>image8</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>罗老师</string>
			<key>image</key>
			<string>image9</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>邱老师</string>
			<key>image</key>
			<string>image10</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>沈老师</string>
			<key>image</key>
			<string>image11</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>唐老师</string>
			<key>image</key>
			<string>image12</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>胡老师</string>
			<key>image</key>
			<string>image13</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>涂老师</string>
			<key>image</key>
			<string>image14</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
	</array>
</dict>
</plist>
