<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cell</key>
	<array>
		<dict>
			<key>title</key>
			<string>幸福快乐一家人</string>
			<key>image</key>
			<string>image0</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>成步堂律师事务所</string>
			<key>image</key>
			<string>image1</string>
			<key>content</key>
			<string>咪酱一生推</string>
		</dict>
		<dict>
			<key>title</key>
			<string>碇真嗣</string>
			<key>image</key>
			<string>image2</string>
			<key>content</key>
			<string>我自闭了</string>
		</dict>
		<dict>
			<key>title</key>
			<string>西谷夕</string>
			<key>image</key>
			<string>image3</string>
			<key>content</key>
			<string>可恶，这也太帅了吧</string>
		</dict>
		<dict>
			<key>title</key>
			<string>网代慎平</string>
			<key>image</key>
			<string>image4</string>
			<key>content</key>
			<string>潮</string>
		</dict>
		<dict>
			<key>title</key>
			<string>存档点</string>
			<key>image</key>
			<string>image5</string>
			<key>content</key>
			<string>好吧</string>
		</dict>
		<dict>
			<key>title</key>
			<string>盒盒顾</string>
			<key>image</key>
			<string>image6</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>小茂</string>
			<key>image</key>
			<string>image7</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>👅1</string>
			<key>image</key>
			<string>image8</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>👅2</string>
			<key>image</key>
			<string>image9</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>💧1</string>
			<key>image</key>
			<string>image10</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>💧2</string>
			<key>image</key>
			<string>image11</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>椰盟</string>
			<key>image</key>
			<string>image12</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>chimitan</string>
			<key>image</key>
			<string>image13</string>
			<key>content</key>
			<string>[动画表情]</string>
		</dict>
		<dict>
			<key>title</key>
			<string>海清</string>
			<key>image</key>
			<string>image14</string>
			<key>content</key>
			<string>你是我的神</string>
		</dict>
	</array>
</dict>
</plist>
